@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400&display=swap');

html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #f4f4f9;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 1rem;
}

.cabecalho {
    width: 100%;
    background-color: #22D4FD;
    padding: 20px 0;
}

.cabecalho__nav {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.cabecalho__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    color: #000000;
    text-decoration: none; /* Remove o sublinhado */
    padding: 0.5rem 1rem; /* Ajustando padding */
    transition: color 0.3s ease;
}

.cabecalho__link:hover {
    color: #ffffff;
}

main {
    padding: 1.25rem; /* 20px */
    margin-top: 1.25rem; /* 20px */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 2rem; /* Adiciona espaçamento entre elementos */
}

.apresentacao__imagem {
    width: 50%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
}

.rodape {
    background-color: #22D4FD;
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem; /* 24px */
    padding: 1.5rem; /* Ajustando padding */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse; /* Inverte a ordem dos elementos */
    }
}

@media (max-width: 1023px) {
    .cabecalho {
        padding: 10px 0; /* Ajusta o padding para telas menores */
    }

    .cabecalho__nav {
        flex-direction: column; /* Alinha os links verticalmente em telas menores */
        gap: 16px;
        justify-content: center; /* Centraliza os itens */
    }

    .cabecalho__link {
        width: 100%; /* Ajusta a largura dos links de navegação em telas menores */
        text-align: center; /* Centraliza o texto dos links */
        padding: 10px 0; /* Ajusta o padding para centralizar */
    }

    .apresentacao {
        width: 90%; /* Ajusta a largura do conteúdo em telas menores */
        margin: 0 auto;
        padding: 1rem;
    }

    .apresentacao__imagem {
        width: 100%; /* Ajusta a imagem para ocupar toda a largura em telas menores */
    }

    footer {
        font-size: 1rem;
        padding: 1rem;
    }
}